<div class="container-home">
	<%= image_tag("nightlife_img.jpg", alt: "TangoTM", position: "absolute", width: "100%" )%>
	<div id="block-main" style=" background-color: white; ">
		<div id="grid-gallery" class="grid-gallery">
		<section class="grid-wrap">
			<ul class="grid">
				<li class="grid-sizer"></li><!-- for Masonry column width -->
				<li>
					<figure>
						<%= image_tag("img01.jpg") %>
						<figcaption><h3>Новости клуба</h3><p>ПОСЛЕДНИЕ НОВОСТИ!!! Открываем курс обучения Испанскому языку с Аланом Форте!!! ¿Hablamos Español?</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img02.jpg") %>
						<figcaption><h3>Что значит слово "танго"?</h3><p>Говорят, что само слово ТАНГО появилось раньше, чем танец, и что в 1803 году в словаре Испанской Королевской Академии слово tango...</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img03.jpg") %>
						<figcaption><h3>История Танго</h3><p>Определенной даты появления танго нет. Некоторые источники связывают зарождение танго...</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img04.jpg") %>
						<figcaption><h3>Как начать заниматься?</h3><p>Если у тебя возникло желание познакомиться с танго, запишись на БАЗОВЫЙ КУРС</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img05.jpg") %>
						<figcaption><h3>Пресса о нас</h3><p>Открывая аргентинское танго для жителей Хабаровска , наш танго-клуб вносит свою маленькую лепту в развитие культуры города, о чем иногда можно прочесть в журналах или увидеть репортаж в новостях.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img06.jpg") %>
						<figcaption><h3>Танго-обувь из Буэнос-Айреса</h3><p>Пришло время порадовать свои ножки комфортом и красотой!</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img07.jpg") %>
						<figcaption><h3>История клуба - это история танго в Хабаровске</h3><p>Однажды, в начале 2008 года, появился человек, который долгими зимними вечерами просто стал танцевать со мной танго...</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<%= image_tag("img08.jpg") %>
						<figcaption><h3>Новые стены клуба</h3><p>Клуб готовится к юбилею!!! Стены обретают силуэты переулков мировых танго-столиц</p></figcaption>
					</figure>
				</li>
			</ul>
		</section><!-- // grid-wrap -->
		<section class="slideshow">
			<ul>
				<li>
					<figure>
						<figcaption>
							<h3>Новости клуба</h3>
							<p>ПОСЛЕДНИЕ НОВОСТИ!!!  Открываем курс обученияИспанскому языку с Аланом Форте!!! ¿Hablamos Español?

	Дорогие друзья!!! На радость всем, кто желает глубже погружаться в культуру Танго и не только, открываем курс Испанского языка (Аргентина). Курс разрабатывается и преподается Аланом Форте, нашим маэстро из Буэнос-Айреса.

	Занятия проходят в нашем зале по адресу ул. Дзержинского 56,

	Группа для начинающих: Пятница 19.00 - 20.15

	Группа для продолжающих: Суббота 15.00 - 16.15

	Стоимость занятий:

	Разовое посещение 350 руб./ Курс - 1200 руб./месяц.</p>
							</figcaption>
							<%= image_tag("img01.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>Что значит слово "танго"?</h3>
								<p>Говорят, что само слово ТАНГО появилось раньше, чем танец, и что в 1803 году в словаре Испанской Королевской Академии слово tango

	фигурировало как вариант tangano – игровой кости  или камня. Но уже в 1889 году появилось еще одно значение «праздник и танцы негров и жителей городов Америки».  И только почти через сто лет, словарь определил танго как «всемирно известный аргентинский парный танец, двоичная музыкальная форма с ритмом 2 на 4».

	Другие исследователи утверждают, что этот термин принадлежит африканским языкам, пришедшим с рабами на территорию Рио-Де-Ла-Плата, и обозначает «закрытое место».

	Также возможно, что слово танго попало в Новый Свет через афро-криольский диалект португальского. Сравнивая tango и tambo, оба являются звукоподражателями там-тамов или кандомбе, которые негры использовали в танцах. Кроме того, в диалекте использовалось выражение «toca tango», «toca tambo»  играть на барабане перед началом танцев. Место, где собирались рабы, часто как в Африке, так и в Америке, называлось ТАНГО.

	И так называли дома в пригородах Буэнос-Айреса, где собирались негры в начале 19 века, чтобы танцевать и забыть на время о своем рабстве.</p>
							</figcaption>
							<%= image_tag("img02.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>История Танго</h3>
								<p>Определенной даты появления танго нет. Некоторые источники связывают зарождение танго

	из культуры африканского континента, другие уверяют, что танго зародилось в кругах эмигрантов. Но в действительности в середине 19 века, известные многоквартирные дома процветающего города Буэнос-Айрес были заполнены приезжими из регионов страны, «грингос» (так называют приезжих из США), только  что высадившимися с кораблей, и стесненными в ресурсах портеньос (так называют жителей Буэнос Айреса). 

	Из смеси различных языков своих стран и уличного сленга появляется ТАНГО на танцевальных площадках вокруг набережной, в заведениях перевозчиков и квартирантов, в многоквартирных домах южных районов. В эти годы эмигрировали одни мужчины, и немногие приезжие женщины находились или в танцевальных клубах или в публичных домах. 

	В 80-х годах 19 века Буэнос-Айрес раскрывается в танцевальных клубах и театрах. В комедиях, опереттах и других постановках актеры начинали петь и танцевать ТАНГО. 

	FeruletТанцевальные клубы, функционировавшие только с разрешения, в регионах и районах отдаленных от центра, если вначале создавались и состояли только из мужчин, впоследствии стали включать и нанимать женщин, чтобы танцевать танго.

	Красавчики, хулиганы и головорезы были завсегдатаями известных кафе Café Sabatino, Almacen de la Мilonga и др. В клубах и на улицах района Ла Бока стала слышаться молодая игривая живая музыка в ритме 2 на 4, от первых танго композиторов самоучек, кто сочинял музыку, не зная нотной грамоты.

	Из пригородов танго постепенно стало проникать в центр города. Шарманщики распространяли музыку по районам, где уже часто можно было увидеть пары мужчин, танцующих на улицах.

	Исследователи считают, что к концу 80-х годов 19 века танго было комбинацией нескольких музыкальных направлений. Хореография Милонги, ритм Кандомбе и мелодия, эмоции и переживания Хабанеры. Также повлияли мотивы Андалусии, шотландская чечетка и куплеты и креольские милонги. 

	Считается, что первым танго композитором был Хуан Перес, автор танго Dama la Lata. Однако, вероятно, были и другие авторы.  В дополнение к работе Переса первыми композициями танго были El Tero и Andate a la Recoleta.

	Несмотря на множество разногласий,  и суждений о танго, престиж и мировая известность этого явления неоспоримы.

	Как и все подлинное художественное выражение, танго проникает и затрагивает самую глубь человеческой природы, чувства и эмоции, поэтому оно может быть близко каждому.  Может поэтому, сегодня Танго танцуют во всем мире, в разных городах и странах. </p>
							</figcaption>
							<%= image_tag("img03.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>Как начать заниматься?</h3>
								<p>Если у тебя возникло желание познакомиться с танго, запишись на БАЗОВЫЙ КУРС

	 

	Базовый курс - это спецкурс для всех желающих познакомиться с танго, где новички делают свои первые шаги и  объятия под музыку танго, знакомятся с клубом и его жизнью! 

	Мы рады видеть всех, кто хочет прикоснуться, а может и окунуться в культуру аргентинского танго. Возможно, танго - это то, о чем Вы давно мечтали?

	РАСПИСАНИЕ

	СРЕДА                    20.00 - 21.30

	СУББОТА                18.00 - 19.30

	Стоимость  БАЗОВОГО КУРСА: 8 занятий в течение 4 недель 2400 рублей и 4500 рублей для пары. 

	 </p>
							</figcaption>
							<%= image_tag("img04.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>Пресса о нас</h3>
								<p>Открывая аргентинское танго для жителей Хабаровска , наш танго-клуб вносит свою маленькую лепту в развитие культуры города, о чем иногда можно прочесть в журналах или увидеть репортаж в новостях.

	Скоро здесь появится весь архив ссылок, а пока привожу первую статью о клубе в Журнале "Дорогое Удовольствие"

	21.12.2009


	Таня. Танго.
	tanyatangoОтношения героев фильма Бертолуччи «Последнее танго в Париже» губит непобедимая страсть, лишившая героев Марлона Брандо и Марии Шнайдер способности мыслить и рассуждать. У героини моего интервью Татьяны Мироновой, вдохновителя клуба «Мир танго» этно-центра ИНБИ, тоже есть непобедимая страсть. Но она ее не губит, а наоборот, окрыляет. Страсть Тани — танго. Причем такой накал страстей и не снился героям «Последнего танго в Париже». - Татьяна, с чего начался ваш роман с танго? - Около двух лет назад я оказалась на милонге (вечере аргентинского танго) во Владивостоке. Красивые пары, танцующие в просторном зале, выглядели так необычно... В тот вечер танго настолько захватило меня, что родилась идея: а почему бы не сделать что-то подобное в Хабаровске? И уже через несколько месяцев открылась первая танцевальная группа! - На тот момент в Хабаровске уже танцевали аргентинское танго? - В Хабаровске было название «аргентинское танго». Иногда я встречаю заблуждение, что аргентинское танго — это лишь очередное направление бальных танцев. И это в корне неверно. В мире аргентинского танго вообще считается, что если ты «бальник», то почувствовать и понять танго намного сложнее (не в обиду танцорам бальных танцев). Танго — это не жесткий шоу-спорт с духом соревновательности, в своей основе оно имеет чувственность, дает возможность прочувствовать истинную суть отношений мужчины и женщины: мужчина ведет, а женщина ему покоряется! - Но о какой же чувственности и страсти может идти речь, когда на самом деле между вами ничего нет, и вы – всего лишь партнеры по танцу? - Когда люди только начинают заниматься, то ни о каких чувствах пока нет и речи! Какие чувства, когда тебе нужно научиться правильно двигать ногами и координировать свои действия с партнером! Однако где еще люди смогут вот так собраться с разных концов города и находиться в таком тесном контакте, как не здесь? Вам не надо выпивать рюмку коньяка для смелости, знакомиться… Здесь неважно, сколько вам лет, главное — это то, что есть мужская и женская энергия, и их взаимодействие! Танго — это тонкие чувства и тонкие ощущения, в танго вы можете выразить и нежность, и страсть, и ревность… - Тонкие чувства, страсть, ревность… Знакомо ли вам это в танго? - Для того, чтобы создать танго-удовольствие в Хабаровске мне нужен был настоящий танго-опыт, и я отправилась его искать во вторую столицу танго – Париж. По пути танцевала в Москве, Софии, понравилось в Болгарии, где танго перенимается от корней из Аргентины. Меня также поразил уровень болгарских танцоров. Представляете, подходит к вам пухленький мужчина в очках, такой с виду неказистый… но как только он заключает тебя в объятья и начинает танцевать… мир сразу меняется! - Как вас встретил Париж? - Летом в Париже танго танцуют на набережной Сены, недалеко от Нотр-Дама. Я пришла на милонгу, прислушиваясь к музыке, только присела, и меня тут же пригласили! С тех пор до конца вечера было невозможно остановиться! А на следующей милонге я (как говорят в фильмах) встретила ЕГО. Он подошел уже в конце вечера статный, стильный, зрелый мужчина — настоящий аргентинский милонгеро, один из лучших в Париже. Как только мы начали танцевать… я поняла, что он и есть ТОТ САМЫЙ. Просто закрыв глаза, я погрузилась в чувства. Все вокруг исчезло…остался только он и музыка танго... Через несколько дней мне пришла смс: «Татьяна, я снова в Париже. И мы можем отправиться танцевать танго, куда вам угодно: Амстердам, Брюссель, Мадрид...» У меня просто захватило дух…И уже через пару часов, сидя на чемоданах, мы бороздили интернет в поисках лучших танго-мест Европы, а еще через пару часов летели в Барселону. Мы, как Бонни и Клайд, искали милонги и танго-приключения повсюду. Мы танцевали везде, где находились: в зале ожидания аэропорта, на улицах. Потому что не могли не танцевать! Первое, что я сделала, вернувшись в Россию — это купила билет обратно во Францию - Кроме билета во Францию, осталось ли у вас еще что-то на память о встрече с НИМ? - Вдохновленные танго путешествием, мы сняли мини-фильмы о танго. Первый, Tango Transformation, о том, как меняется жизнь человека, когда он встречает танго. Второй, фильм-шутка «Танго Опасно!» за 2 дня в You Tube завоевал награды как самый посещаемый и самый комментируемый ролик. Меньше, чем через месяц, меня ожидает еще одна танго-поездка, и мы планируем продолжить совместное творчество. - Собираетесь посетить родину танго, Аргентину? - Я пока только готовлюсь к поездке туда, ведь для того, чтобы танцевать там, нужно быть завидной партнершей. Аргентинцы трепетно относятся к танго, и если ты привлекательна внешне, это совсем не значит, что с тобой будут танцевать. - Путешествие во Францию сейчас, Аргентина в ближайших планах… А что вы делаете в в Хабаровске «здесь и сейчас»? - Сейчас я создаю танго-общественность. Сообщество людей, которые живут своей жизнью, но у которых есть вечер, когда они приходят с работы, полностью меняют свой облик и идут танцевать. Пусть для Хабаровска это пока непривычно, но мы уже запустили первую в городе еженедельную милонгу. Мне нравится, что та энергия, которая спонтанно родилась два года назад во Владивостоке, вылилась в новый проект! Текст: Олеся Косцинская.</p>
							</figcaption>
							<%= image_tag("img05.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>Танго-обувь из Буэнос-Айреса</h3>
								<p>Пришло время порадовать свои ножки комфортом и красотой!

	Сегодня танго танцуют во многих странах мира, и танго обувь начали изготавливать местные умельцы многих стран, но, по моему мнению, как Настоящее Шампанское - это игристое вино из провинции Шампань, так и обувь для танго, та что сделана в Буэнос-Айресе.

	Регулярные поездки на родину танго, в Аргентину, позволяют нам выбирать и контролировать каждую пару. Прежде чем туфли окажутся в Хабаровске, мы обходим и выбираем во множестве магазинов  Буэнос-Айреса предложения, сочетающие лучший баланс Качества, Красоты и Стоимости. 

	Если время не ждет и туфли нужны уже сегодня, в клубе всегда есть модели мужской и женской обуви разных размеров, но если есть терпение, можно сделать заказ и получить желаемое!

	По обувным вопросам обращаться по тел.: 8 914 190 45 01

	Комфортного и красивого Танго!</p>
							</figcaption>
							<%= image_tag("img06.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>История Клуба - это история танго в Хабаровске</h3>
								<p>Однажды, в начале 2008 года, появился человек, который долгими зимними вечерами просто стал танцевать со мной танго...

	Он как -то остается в тени истории танго в Хабаровске, но именно он первые несколько месяцев терпеливо, не обучая меня никаким фигурам, никакой технике просто танцевал со мной танго, просто не на словах, а на деле показал самую суть, что если мужчина ведет, женщина, не зная ничего, может просто доверять и следовать. Федор Кондаков прибыл к нам с запада России, обучался танго в г. Орел, а капоэйре и искусству матепития в Бразилии, привез капоэйру на Дальний Восток, а мне особый подарочек - танго))).

	Влюбившись в танго, первые шаги в обучении и организации клуба, помогли сделать давние друзья из танцевального прошлого Сергей Белокопытов и Жанна Савенко, на тот момент руководители клуба "Танго-Перекресток" г. Владивосток, за что им большое спасибо и моя глубокая, по сей день, признательность. 

	20 мая 2008 года в Хабаровске состоялось первое занятие первого клуба Аргентинского танго, и некоторые представители  танго сообщества помнят этот день! А уже через месяц мы провели нашу первую милонгу (вечер танго), конечно это было далеко от танго-реальности, но начало было положено!!!

	На второй год мы запустили первую регулярную милонгу по субботам, которая открыта и сегодня.

	Мои регулярные долгосрочные поездки в Европу позволили значительно расширить кругозор и с азов обучаться у именитых аргентинских маэстрос.

	Но даже имея значительную танцевальную базу и спортивную подготовку понимать танго было не просто и не быстро, первые три года клуб пребывал в поисках стиля и методов обучения, начиная проводить семинары и приглашать аргентинских преподавателей.


	Четвертый год развития стал переломным, клуб увеличился в два раза, мы впервые среди российских клубов (не считая Москвы и С. Петербурга) пригласили преподавать на несколько месяцев молодого и талантливого педагога из Буэнос-Айреса. А я, наконец-то, набралась смелости перелететь океан и на это время погрузилась в обучение на Родине танго в Аргентине.


	В 2013 году клубу 5 лет. Танго сообщество шаг за шагом развивается и разрастается. Занятия в клубе ведут преподаватели, регулярно обучающиеся в Буэнос-Айресе,  и педагоги из Аргентины.  Каждую неделю клуб предлагает  около 10 занятий и 2 милонги, в среду и субботу. Ежегодно организованы совместные выезды на танго-кемп на берег моря, танго путешествия в разные страны, дегустации вина и аргентинского напитка – мате, изучение испанского языка, и доставка танго-обуви из Буэнос-Айреса.  С каждым днем жизнь танго сообщества становится  интереснее,  а танго становится частью чьей-то жизни.</p>
							</figcaption>
							<%= image_tag("img07.jpg") %>
						</figure>
					</li>

					<li>
						<figure>
							<figcaption>
								<h3>Новые стены клуба</h3>
								<p>Thundercats pour-over four loko skateboard Brooklyn, Etsy sriracha leggings dreamcatcher narwhal authentic 3 wolf moon synth Portland. Shabby chic photo booth Blue Bottle keffiyeh, McSweeney's roof party Carles.</p>
							</figcaption>
							<%= image_tag("img08.jpg") %>
						</figure>
					</li>
				</ul>
				<nav>
					<span class="icon nav-prev">гр</span>
					<span class="icon nav-next">дл</span>
					<span class="icon nav-close">щш</span>
				</nav>
				<div class="info-keys icon">Navigate with arrow keys</div>
			</section><!-- // slideshow -->
		</div><!-- // grid-gallery -->
	</div>
</div>
<script src="assets/imagesloaded.pkgd.min.js"></script>
<script src="assets/masonry.pkgd.min.js"></script>
<script src="assets/classie.js"></script>
<script src="assets/cbpGridGallery.js"></script>
<script>
	new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
